*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
}
#trứng_đầu_gấu{
    width: 80%;
    margin: 10%;
    border: 1px solid;
    border-radius: 15px;
    transition: 0.5s;
}
#trứng_đầu_gấu:hover{
    width: 100%;  
    margin: 0%;
}
