*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
}
#trứng_đầu_gấu{
    width: 80%;
    margin: 10%;
    border: 1px solid;
    border-radius: 15px;
    transition: 0.5s;
}
#trứng_đầu_gấu:hover{
    width: 100%;  
    margin: 0%;
}
section{
    flex-direction: column;
    width: 80%;
    margin: 10%;
    border-radius: 15px;
}
video{
    z-index: -1;
    width: 100%;
}
.describe{
    width: 100%;
    position: relative;
    bottom: 100px;
    height: 80px;
    background-color: rgba(0,0,0,0.5);
    color: whitesmoke;
}